
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
/reports/
/reporting-labs/
/allure-report/
/allure-results/



# env files (confidential)
config/.env.*

# builds
dist/

#OS files
.DS_Store #this is for mac laptop


